{% extends "base.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags staticfiles pages_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block main %}

    {% block title %}
        <h1>
            {% trans "Story Categories" %}
        </h1>
    {% endblock %}

    <div class="list-group">
        {% for category in categories %}
            <a class="list-group-item" href="{% url "article_list_category" category.slug %}">{{ category }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block side_bar %}
    {% include "pages/tag_cloud.html" %}
{% endblock %}