{% extends "base.html" %}

{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags staticfiles pages_tags static extra_tags %}


{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block article_main %}

    {% block title %}
        <div class="row top-title">
            <div class="col-xs-7 heading">
                <h1>Stories by category</h1>
            </div>
            <div class="col-xs-5 link">
                <a class="read-more" href="#">Show all latest stories</a>
            </div>
        </div>

        <div class="row border-bottom-only-wrapper">
            <div class="col-xs-12">
                <div class="border-bottom-only"></div>
            </div>
        </div>
    {% endblock %}

    <section id="storypage-categories" class="row">

        {% for articleCategory in articleCategories %}
            {% for category, articles in articleCategory.items %}

                <div class="col-xs-12 category-topping-wrapper">
                    {% if articles %}
                        <div class="category-page-heading">
                            <a class="category-title-link" style="background-image: url('{% ifequal category.category_image default_image %}{{ STATIC_URL }}{% else %}{{ MEDIA_URL }}{% endifequal %}{% thumbnail category.category_image 50 50 %}')"
                               href="{% url "article_list_category" category.slug %}">
                                {{ category }}
                            </a>
                        </div>
                    {% endif %}
                    <div class="row category-page-category-list-wrapper">
                        {% for article in articles %}
                            <div class="col-xs-6 col-sm-3 category">
                                <a href="{{ article.slug }}" style="text-decoration: none"> <div class="top-sub-section">
                                    <h4>{{ article.title }}</h4>
                                </div>
                                <div class="image-sub-section col-xs-12">
                                    {% if settings.BLOG_USE_FEATURED_IMAGE and article.featured_image %}
                                        <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail article.featured_image 450 300 %}">
                                    {% else %}
                                        <img class="img-responsive" src="{{ STATIC_URL }}{% thumbnail "img/default.png" 450 300 %}">
                                    {% endif %}
                                </div> </a>
                                <div class="plain-text-sub-section">
                                    <p class="col-xs-12">
                                        {{ article.description | truncatechars:200 }}
                                    </p>


                                    <div class="read-more-wrapper">
                                        <a class="read-more" href="{{ article.slug }}">
                                            Read More
                                        </a>
                                    </div>

                                </div>
                            </div>

                        {% endfor %}
                    </div>
                    {% if articles %}
                        <div class="read-more-wrapper">
                            <a class="read-more"
                               href="{% url "article_list_category" category.slug %}"> See all stories </a>
                        </div>
                    {% endif %}
                </div>

            {% endfor %}
        {% endfor %}


    </section>
{% endblock %}

{% block side_bar %}
    <div class="navigator">
        <h4>
        <span class="glyphicon glyphicon-align-justify"></span>
        Navigator
        </h4>
    </div>
    {% include "includes/sidebar/category_list.html" %}
    {% include "includes/sidebar/tag_cloud.html" %}
{% endblock %}
