{#{% extends "base.html" %}#}
{##}
{#{% block meta_title %}{% if page %}{{ page.richtextpage.meta_title }}{% else %}{% trans "Category" %}#}
{##}
{#{% block meta_keywords %}{% metablock %}#}
{#    {% keywords_for page as keywords %}#}
{#    {% for keyword in keywords %}#}
{#        {% if not forloop.first %}, {% endif %}#}
{#        {{ keyword }}#}
{#    {% endfor %}#}
{#{% endmetablock %}{% endblock %}#}
{##}
{#{% block meta_description %}{% metablock %}#}
{#    {{ page.description }}#}
{#{% endmetablock %}{% endblock %}#}
{##}
{#{% block title %}#}
{#    {% if page %}#}
{#        {% editable page.title %}{{ page.title }}{% endeditable %}#}
{#    {% else %}#}
{#        {% trans "Categories" %}#}
{#    {% endif %}#}
{#{% endblock %}#}
{##}
{#{% block main %}#}
{##}
{#    <div class="title">#}
{#        <h2>{% trans "Categories" %}</h2>#}
{#    </div>#}
{#    <div class="content-wrapper">#}
{#        <div class="article-List">#}
{#            <ul>#}
{#                {% for category in categories %}#}
{#                    <li><a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        </div>#}
{#        <div class="sidebar">#}
{#            <div>#}
{##}
{#                {% include "pages/tag_cloud.html" %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}
{% extends "base.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags staticfiles pages_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block main %}

    {% block title %}
        <h1 class="page-header">
            {% trans "Story Categories" %}
        </h1>
    {% endblock %}

    {% blog_categories vikalp.article as categories %}
    <div class="list-group">
        {% for category in categories %}
            <a class="list-group-item" href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block side_bar %}
    {% include "pages/tag_cloud.html" %}
{% endblock %}