{% extends "base.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n future disqus_tags staticfiles extra_tags %}
{% load mezzanine_tags %}
{% block meta_title %}Home{% endblock %}
{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}


{% block home_page %}
    {% include "pages/menus/carousel.html" %}
    {% include "pages/section/categories.html" %}
{% endblock %}
