{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="utf-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <meta name="description" content="">#}
{#    <meta name="author" content="">#}
{##}
{##}
{#    <title>Vikalp</title>#}
{##}
{##}
{#    <!-- Bootstrap core CSS -->#}
{#    <link href="static/css/bootstrap.css" rel="stylesheet">#}
{##}
{#    <!-- Add custom CSS here -->#}
{#    <link rel="stylesheet" href="static/css/modern-business.css">#}
{#    <link href="static/font/font-awesome.css" rel="stylesheet">#}
{##}
{#    <!-- JavaScript -->#}
{#    <script src="static/js/jquery-1.10.2.js"></script>#}
{#    <script src="static/js/bootstrap.js"></script>#}
{#    <script src="static/js/modern-business.js"></script>#}
{#    <script src="static/js/app.js"></script>#}
{##}
{#</head>#}
{##}
{#<body>#}
{#<div id="main-title">#}
{#    <div class="container">#}
{#        <h1>Welcome to alternatives forum !!!</h1>#}
{#    </div>#}
{#</div>#}
{#<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">#}
{#    <div class="container">#}
{#        <div class="navbar-header">#}
{#            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">#}
{#                <span class="sr-only">Toggle navigation</span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#            </button>#}
{#            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->#}
{#            <a class="navbar-brand" href="index.html">Vikalp</a>#}
{#        </div>#}
{##}
{#        <!-- Collect the nav links, forms, and other content for toggling -->#}
{#        <div class="collapse navbar-collapse navbar-ex1-collapse">#}
{#            <form class="navbar-form navbar-right" role="search">#}
{#                <div class="right-inner-addon">#}
{#                    <i class="fa fa-search"></i>#}
{#                    <input type="search"#}
{#                           class="form-control"#}
{#                           placeholder="Search"/>#}
{#                </div>#}
{#            </form>#}
{#            <ul class="nav navbar-nav navbar-right">#}
{#                <li><a href="#">Stories</a></li>#}
{#                <li><a href="#">About</a></li>#}
{#                <li><a href="#">Contact</a></li>#}
{#                <li><a href="#">Contribute a story</a></li>#}
{#            </ul>#}
{##}
{#        </div>#}
{#        <!-- /.navbar-collapse -->#}
{#    </div>#}
{#    <!-- /.container -->#}
{#</nav>#}


{% extends "base.html"%}
{% block home_page %}

    {% include "pages/section/featured.html" %}
{#<div class="section">#}
{##}
{##}
{#    <div class="container">#}
{#        <div class="col-lg-12 text-center">#}
{#            <h2>Featured Stories</h2>#}
{#            <hr>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="col-lg-4 col-md-4">#}
{#                <a id="feature-article" href="#">#}
{#                    <div class="thumbnail">#}
{#                        <img src="http://natgeotraveller.in/var/natgeo/storage/images/media2/images/dhritiman-raw-dmk5927/5025-1-eng-GB/dhritiman-raw-dmk5927_article_590.jpg"#}
{#                             alt="">#}
{##}
{#                        <div class="caption">#}
{#                            <h3>Feature Label</h3>#}
{##}
{#                            <p id="feature-article-desc">This would be a great spot to feature some brand new products!#}
{##}
{#                            </p>#}
{#                        </div>#}
{#                    </div>#}
{#                </a>#}
{#            </div>#}
{##}
{#            <div class="col-lg-4 col-md-4">#}
{#                <a id="feature-article" href="#">#}
{#                    <div class="thumbnail">#}
{#                        <img src="http://natgeotraveller.in/var/natgeo/storage/images/media2/images/dhritiman-raw-dmk5927/5025-1-eng-GB/dhritiman-raw-dmk5927_article_590.jpg"#}
{#                             alt="">#}
{##}
{#                        <div class="caption">#}
{#                            <h3>Feature Label</h3>#}
{##}
{#                            <p id="feature-article-desc">This would be a great spot to feature some brand new#}
{#                                products!</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </a>#}
{#            </div>#}
{#            <div class="col-lg-4 col-md-4">#}
{#                <a id="feature-article" href="#">#}
{#                    <div class="thumbnail">#}
{#                        <img src="http://natgeotraveller.in/var/natgeo/storage/images/media2/images/dhritiman-raw-dmk5927/5025-1-eng-GB/dhritiman-raw-dmk5927_article_590.jpg"#}
{#                             alt="">#}
{##}
{#                        <div class="caption">#}
{#                            <h3>Feature Label</h3>#}
{##}
{#                            <p id="feature-article-desc">This would be a great spot to feature some brand new#}
{#                                products!</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#        <!-- /.row -->#}
{##}
{#    </div>#}
{#    <!-- /.container -->#}
{##}
{#</div>#}
<!-- /.section -->
{##}
{#<div class="section-colored text-center">#}
{##}
{#    <div class="container">#}
{##}
{#        <div class="row">#}
{#            <div class="col-lg-12">#}
{#                <h2>Modern Business: A Clean &amp; Simple Full Website Template by Start Bootstrap</h2>#}
{##}
{#                <p>A complete website design featuring various single page templates from Start Bootstraps library of#}
{#                    free HTML starter templates.</p>#}
{#                <hr>#}
{#            </div>#}
{#        </div>#}
{#        <!-- /.row -->#}
{##}
{#    </div>#}
{#    <!-- /.container -->#}
{##}

{#</div>#}
<!-- /.section-colored -->

{% include "pages/section/categories.html" %}
<!-- /.section -->

<div class="section-colored">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2>About Us</h2>

                <p><b>KALPAVRIKSH</b> is a non profit organisation working on environmental and social issues. The group
                    began in 1979 with a campaign led by students to save Delhi's Ridge Forest. We work on local,
                    national and global levels, are registered under the Societies Registration Act (S-17439) and are
                    based in Delhi and Pune.</p>

                <p>
                    Kalpavriksh believes that a country can develop meaningfully only when ecological sustainability and
                    social equity are guaranteed, and a sense of respect for, and oneness with nature, and fellow humans
                    is achieved.
                    Kalpavriksh is a name taken from Indian mythology and denotes a mythical tree which could grant all
                    your wishes. 'Kalpa' in Sanskrit means imagination and 'vriksh' is a tree. Thus, the name stands for
                    'a tree of imagination'.</p>

                <p>
                    There are a few Indian trees like Peepul (Sacred Fig) and Bargad (Banyan) which are supposed to emb
                    ody the giving nature of Kalpavriksh. But, as with all mythologies the name was more a symbol of the
                    nurturing qualities of nature itself. Philosophically, the wish granting aspect of 'Kalpavriksh' is
                    supposed to be accompanied by the power to make that wish come true. Thus, Kalpavriksh is symbolic
                    of a more proactive process than just asking for a wish: you could actually make it happen if you so
                    desired.</p>

                <p>Thus, it was an important reason to select the name for the environmental group- Kalpavriksh. The
                    group, Kalpavriksh, thus, is not a mere figment of imagination. Instead, it's a wish the members
                    granted for themselves, a wish for a saner environment for our country and the world, and work
                    towards attaining it.
                </p>

                <p><a href="#" class="btn btn-primary btn-large">Read More</a></p>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="http://placehold.it/700x450">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Modern Business Features Include:</h2>
                <ul>
                    <li>Bootstrap 3 Framework</li>
                    <li>Mobile Responsive Design</li>
                    <li>Predefined File Paths</li>
                    <li>Working PHP Contact Page</li>
                    <li>Minimal Custom CSS Styles</li>
                    <li>Unstyled: Add Your Own Style and Content!</li>
                    <li>Font-Awesome fonts come pre-installed!</li>
                    <li>100% <strong>Free</strong> to Use</li>
                    <li>Open Source: Use for any project, private or commercial!</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="container">

    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h4>'Modern Business' is a ready-to-use, Bootstrap 3 updated, multi-purpose HTML theme!</h4>

            <p>For more templates and more page options that you can integrate into this website template, visit Start
                Bootstrap!</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <a class="btn btn-lg btn-primary pull-right" href="http://startbootstrap.com">See More Templates!</a>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

{% endblock %}




{##}
{#</body>#}
{#</html>#}
