*.pyc
*.pyo
*.db
.DS_Store
.coverage
vikalpvenv/
gettext/
.tx
node_modules/
.css/
htmlcov/
media/
Vagrantfile
articles_bak
Vagrantfile.bak
.idea/workspace.xml
*.swp
.vagrant
.idea
vikalp/static/CACHE/
media/uploads/
blogpost.csv
*.pdf
*.log
*.iml
META-INF/
.sass-cache/
CACHE/
vikalp/twitter_keys.txt

vikalp/static/*
!vikalp/static/img/
/.env
