*.pyc
*.pyo
*.db
.DS_Store
.coverage
vikalpvenv/
locale/
vikalp/locale/
gettext/
.tx
node_modules/
.css/
htmlcov/
media/
Vagrantfile
articles_bak
Vagrantfile.bak
.idea/workspace.xml
*.swp
.vagrant
.idea
CACHE
media/uploads/
blogpost.csv
*.pdf
*.log
*.iml
META-INF/
