.footer {
    position: fixed;
    background-color: #000000;
    left: 0;
    bottom: 0;
    min-height: 60px;
    width: 100%;
    z-index: 1001;
}

.footer .footer-inner {
    width: 1140px;
    margin: 0 auto;
    position: relative;
    min-height: 36px;
    padding-top: 10px;
}

.footer ul {
    list-style: none;
}

.footer ul li {
    display: inline-block;
}

.footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 6px 12px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.footer .footer-lower {
    overflow: auto;
}

.footer .footer-col {
    width: 68px;
    float: left;

}