<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future compress staticfiles %}
<head>
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_current_language_bidi as LANGUAGE_BIDI %}

    <title>
        {% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1 user-scalable=no">

    {% ifinstalled mezzanine.blog %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>

    {% compress css %}
        <link rel="stylesheet" href="{% static "css/main.css" %}">
    {% endcompress %}

    {% compress js %}
        <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
        <script type="text/javascript" src="{% static "js/app.js" %}"></script>
    {% endcompress %}
    <script src="{% static "js/html5shiv.js" %}"></script>


</head>

<body id="{% block body_id %}body{% endblock %}">

<div class="wrap">
    <div class="inner">
        {% include "pages/menus/site_title.html" %}
    </div>
    <div class="subMenu">
        {% page_menu "pages/menus/pagemenu.html" %}

    </div>


    {% if on_home %}
        {% compress js %}
            <script type="text/javascript" src="{% static "js/unslider.min.js" %}"></script>
            <script type="text/javascript" src="{% static "js/feature.js" %}"></script>
            <script type="text/javascript" src="{% static "js/carousel.js" %}"></script>
        {% endcompress %}
        <div class="section sTop">
            {% include "pages/menus/carousel.html" %}
        </div>
        {% block home_page %}

        {% endblock %}

    {% endif %}
    {% if not on_home %}
        <div class="mainSection">
            <div class="inner">
                <div class="article-wrapper">
                    {% block main %}
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endif %}
</div>


<footer>
    <div class="footer-inner">
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Three</a></li>
        </ul>
    </div>
    <div id="footer-lower" class="footer-inner footer-lower">
        <div class="footer-col">
            <ul>
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <ul>
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <ul>
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>