<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future compress staticfiles %}
<head>
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_current_language_bidi as LANGUAGE_BIDI %}

    <title>
        {% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1 user-scalable=no">

    {% ifinstalled mezzanine.blog %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>

    {% compress css %}
        <link rel="stylesheet" href="{% static "css/demo.css" %}">
    {% endcompress %}

    {#    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>#}
    {#    <script src="https://code.jquery.com/jquery-latest.min.js"></script>#}
    {% compress js %}
        <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
        <script type="text/javascript" src="{% static "js/jquery.smint.js" %}"></script>
        <script type="text/javascript" src="{% static "js/unslider.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/app.js" %}"></script>
    {% endcompress %}
    <script src="{% static "js/html5shiv.js" %}"></script>


</head>

<body id="{% block body_id %}body{% endblock %}" onload="setTimeout(function() { window.scrollTo(0, 1) }, 100);">

<div class="wrap">
    <div class="subMenu">
{#        <div class="inner">#}
{#            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">#}
                {% page_menu "pages/menus/pagemenu.html" %}
                {#            <a href="#" id="sTop" class="subNavBtn">Home</a>#}
                {#            <a href="#" id="s1" class="subNavBtn">Featured</a>#}
                {#            <a href="#" id="s2" class="subNavBtn">Categories</a>#}
                {#            <a href="#" id="s3" class="subNavBtn">Events</a>#}
                {#            <a href="#" id="s4" class="subNavBtn">About</a>#}
                {#            <a href="#" id="s5" class="subNavBtn end">Contact</a>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#            </a>#}
{#        </div>#}
    </div>


    <div class="section sTop">
        <div class="inner">
            <h1>{% if settings.SITE_TITLE %}<a href="/">{{ settings.SITE_TITLE }}
            {% endif %} -
            {% if settings.SITE_TAGLINE %}{{ settings.SITE_TAGLINE }}
            {% endif %}
            </a>
            </h1>
        </div>
        <div class="banner">
            <ul>
                <li style="background-image: url(images/shop.jpg);">
                    <h1>Heading 1</h1>

                    <p>Description goes here...</p>
                </li>
                <li style="background-image: url(images/subway.jpg);">
                    <h1>Heading 1</h1>

                    <p>Description goes here...</p>
                </li>
                <li style="background-image: url(images/sunset.jpg);">
                    <h1>Heading 1</h1>

                    <p>Description goes here...</p>
                </li>
            </ul>
            <ol class="dots">

            </ol>
        </div>
    </div>


    <div class="section s1">

        <div class="inner">

            <h1>Section 1</h1>

        </div>

    </div>

    <div class="section s2">
        <div class="inner">
            <ul class="categories-list">
                <li><a href="#">Learning & Education</a></li>
                <li><a href="#">Energy</a></li>
                <li><a href="#">Governance & Ideologies</a></li>
                <li><a href="#">Alternatives to money</a></li>
                <li><a href="">Art, crafts & culture</a></li>
                <li><a href="#">Ecoproducts</a></li>
                <li><a href="#">Transport</a></li>
                <li><a href="#">Health & hygiene</a></li>
                <li><a href="#">Knowledge, science, technology</a></li>
                <li><a href="#">Media & communication</a></li>
                <li><a href="#">Settlements & architecture</a></li>
                <li><a href="#">Water and sanitation</a></li>
            </ul>

        </div>

    </div>

    <div class="section s3">
        <div class="inner">

            <h1>Section 3</h1>

        </div>

    </div>

    <div class="section s4">
        <div class="inner">

            <h1>Section 4</h1>

        </div>

    </div>

    <div class="section s5">
        <div class="inner">

            <h1>Section 5</h1>

        </div>

    </div>


</div>
<footer>
    <div class="footer-inner">
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">three</a></li>
        </ul>
    </div>
    <div id="footer-lower" class="footer-inner footer-lower">
        <div class="footer-col">
            <ul>
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <ul>
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <ul>
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>