<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future compress staticfiles static %}

<head>

    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_current_language_bidi as LANGUAGE_BIDI %}

    <title>
        {% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <meta charset="utf-8">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <!--[if lt IE 9]>
      <script src="{% static "js/html5shiv.js" %}"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    {% ifinstalled mezzanine.blog %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    <link href=" {% static "css/output/application.css" %}" rel="stylesheet">

    <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/modern-business.js" %}"></script>
    {% block js %}
        {{ block.super }}
        <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    {% endblock %}
    
    <script src="{% static "js/app.js" %}"></script>


</head>


<body id="{% block body_id %}body{% endblock %}">
{% page_menu "pages/menus/pagemenu.html" %}
<div id="content">
    {% if on_home %}
        {% block home_page %}
        {% endblock %}
    {% endif %}

    {% if not on_home %}
        <div class="section generic_section">

            <div class="container main-body-container">

                <div class="row">

                    <div class="col-md-9 right-border-separator">
                        <div class="space-xs"></div>
                        <div class="space-xs"></div>
                        <div class="space-xs"></div>

                        {% block article_main %}{% endblock %}
                    </div>


                    {% block main %}{% endblock %}


                    <div class="col-sm-12 col-md-3">
                        <div class="space-xs"></div>
                        <div class="space-xs"></div>
                        <div class="space-xs"></div>
                        <div class="navigator">
                            <h4>
                                <span class="glyphicon glyphicon-align-justify"></span>
                                Navigator
                            </h4>
                        </div>

                        {% block side_bar %}
                        {% endblock %}
                    </div>
                </div>

            </div>


        </div>

    {% endif %}
</div>
{% include "pages/menus/footer.html" %}
{% include "google-analytics/google-analytics.html" %}

</body>

</html>
