{% extends "base.html" %}


{% block article_main %}

    <div class="map-page-writeup">
        <h2>Explore Stories by Location</h2>

        <p style="padding-right: 30px">Click on a marker to read a story around that location. Zoom in to get a more
            specific location or to see if there are more stories in one area.</p>
    </div>

    <div class="map" style="padding-left: 20%; padding-right: 20%">
        {% include page_template %}
    </div>

{% endblock %}

{% block side_bar %}

    {% include "includes/sidebar/category_list.html" %}
    {% include "includes/sidebar/tag_cloud.html" %}

{% endblock %}
