{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags staticfiles pages_tags endless %}


{% if articles %}
    {% paginate articles %}
    {% for article in articles %}
        <div class="col-xs-6 col-sm-4 category">


                {% for category in article.article_categories.all %}
                    {% ifequal forloop.counter 1 %}
                        <a class="category-title-wrapper" href="{{ category.get_absolute_url }}">
                            <img src="{{ MEDIA_URL }}{% thumbnail category.category_image 30 30 %}"/>
                            {{ category }}
                        </a>
                    {% endifequal %}
                {% endfor %}
                {% editable article.title %}

                <a class="category-link-wrapper" href="{{ article.get_absolute_url }}">

                    <div class="top-sub-section">
                        <h4>{{ article.title }}</h4>
                    </div>

                    <div class="image-sub-section col-xs-12">
                        {% if settings.BLOG_USE_FEATURED_IMAGE and article.featured_image %}
                            <img class="img-responsive"
                                 src="{{ MEDIA_URL }}{% thumbnail article.featured_image 450 300 %}">
                        {% else %}
                            <img class="img-responsive"
                                 src="{{ STATIC_URL }}{% thumbnail "img/default.png" 450 300 %}">
                        {% endif %}
                    </div>
                </a>


                    <div class="plain-text-sub-section">
                        <p class="col-xs-12">{{ article.description|truncatechars:150|safe }}</p>

                        <div class="read-more-wrapper">
                            <a class="read-more" href="{{ article.get_absolute_url }}">
                                Read More
                            </a>
                        </div>
                    </div>
                {% endeditable %}
        </div>
    {% endfor %}
    
        {% show_more '<div class="load-more-bottom-button"><button type="button" class="form-control">Load More</button></div>' %}
    
    </div>
{% endif %}
