{% extends "base.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags staticfiles pages_tags %}


{% block meta_title %}{% if category %}{{ category }}{% else %}{{ tag }}{% endif %}{% endblock %}

{% block main %}

    {% block title %}

        {% if category %}
            <h1>{{ category }}</h1>
            {% if category.category_long_description %}
                <div id="category-long-description" class="well">
                    <i>{{ category.category_long_description }}</i>
                </div>
            {% endif %}

        {% else %}
            {% if tag %}
                <h1>{{ tag }}</h1>
            {% else %}
                <h1>Stories</h1>
            {% endif %}
        {% endif %}

    {% endblock %}


    <div id="articles-list" class="list-group">

        {% for article in articles %}
            {% editable article.title %}
                <a id="article-list-link" class="list-group-item" href="{{ article.get_absolute_url }}">
                    {% if settings.BLOG_USE_FEATURED_IMAGE and article.featured_image %}
                        <img class="pull-left featured-thumb"
                             src="{{ MEDIA_URL }}{% thumbnail article.featured_image 90 90 %}">
                    {% else %}
                        <img class="pull-left featured-thumb"
                             src="{{ STATIC_URL }}{% thumbnail "img/default.png" 90 90 %}" width="90" height="90">
                    {% endif %}
                    <h4 class="list-group-item-heading">{{ article.title }}</h4>

                    <p class="list-group-item-text">{{ article.description|truncatechars:256|safe }}</p>
                </a>
            {% endeditable %}
        {% endfor %}

    </div>

{% endblock %}

{% block side_bar %}
    {% include "includes/sidebar/category_list.html" %}
    {% include "includes/sidebar/tag_cloud.html" %}
{% endblock %}
