{% extends "base.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags staticfiles pages_tags endless %}


{% block meta_title %}{% if category %}{{ category }}{% else %}{{ tag }}{% endif %}{% endblock %}
{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {% if category %}
        {{ category.category_long_description }}
    {% else %}
        {{ page.description }}
    {% endif %}


{% endmetablock %}{% endblock %}


{% block article_main %}

    {% block title %}
        <div class="category-page-heading">
            {% if category %}
                <div class="category-title-link" style="background-image:
                        url('{% ifequal category.category_image default_image %}{{ STATIC_URL }}{% else %}{{ MEDIA_URL }}{% endifequal %}{% thumbnail category.category_image 50 50 %}')">
                    {% with category.title|upper as category_title %}{% trans category_title %}{% endwith %}
                </div>
            {% else %}
                {% if tag %}
                    <div class="category-title-link no-icon">
                        {{ tag }}
                    </div>
                {% else %}
                    <div class="category-title-link no-icon">
                        {% trans "Stories" %}
                    </div>
                {% endif %}
            {% endif %}
            {% if category.category_description and "Policy" not in category.title %}
                <div class="category-description">
                    <p class="long" style="display:none">{{ category.category_long_description }}
                        <a href="javascript:void(0);" class="category-desc-collapse-description"><span
                                class="glyphicon glyphicon-circle-arrow-up"></span>&nbsp;{% trans "Collapse" %}</a></p>

                    <p class="short">{{ category.category_description|truncatechars:150|safe }}
                        <a href="javascript:void(0);" class="read-more-description"><span
                                class="glyphicon glyphicon-circle-arrow-down"></span>&nbsp;{% trans "Read More" %}</a></p>
                </div>
            {% endif %}
        </div>

    {% endblock %}
    <div class="row category-page-category-list-wrapper category-topping-wrapper" id="articles-list">
        {% include page_template %}
    </div>
{% endblock %}

{% block side_bar %}

    {% include "includes/sidebar/category_list.html" %}
    {% include "includes/sidebar/tag_cloud.html" %}
    {% include "map_for_sidebar.html" %}

{% endblock %}
