{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags staticfiles pages_tags endless  extra_tags %}

{% if articles %}
{% paginate articles %}
{% for article in articles %}
<div class="col-xs-6 col-sm-4 category">
    {% editable article.title %}
    <a class="category-link-wrapper" href="{{ article.get_absolute_url }}">
        <div class="top-sub-section">
            <h4>{{ article.title }}</h4>
        </div>
        <div class="image-sub-section col-xs-12">
            {% if settings.BLOG_USE_FEATURED_IMAGE  %}
            <img class="img-responsive"
                 src="{{ MEDIA_URL }}{% thumbnail article.featured_image 327 218 %}" onerror="imgError(this, 327, 218)" />
            {% endif %}
        </div>
    </a>

    <div class="plain-text-sub-section">
        <p class="col-xs-12">{{ article.description|truncatechars:150|safe }}</p>

        <div class="read-more-wrapper">
            <a class="read-more" href="{{ article.get_absolute_url }}">
                {% trans "Read More" %}
            </a>
        </div>
    </div>
    {% endeditable %}
</div>
{% endfor %}
{% include "includes/loadmore.html" %}
{% endif %}
