@import "variables.css.scss";

@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(http://themes.googleusercontent.com/static/fonts/roboto/v10/Hgo13k-tfSpn0qi1SFdUfbO3LdcAZYWl9Si6vvxL-qU.woff) format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url(http://themes.googleusercontent.com/static/fonts/roboto/v10/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format("woff");
}

@font-face {
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(http://themes.googleusercontent.com/static/fonts/roboto/v10/RxZJdnzeo3R5zSexge8UUbO3LdcAZYWl9Si6vvxL-qU.woff) format("woff");
}

@font-face {
  font-family: 'Roboto-Black';
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url(http://themes.googleusercontent.com/static/fonts/roboto/v10/mnpfi9pxYH-Go5UiibESIrO3LdcAZYWl9Si6vvxL-qU.woff) format("woff");
}

body {
  font-family: Roboto;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  color: $dark-brick-col;
  text-shadow: none;
  opacity: 1;
  /*font-weight: bold;*/
  font-family: Roboto-Black;
}

.menu-arrow-after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent transparent $white transparent;
  border-style: solid;
  border-width: 10px;
  top: 80%;
  left: 50%;
  margin-left: -10px;
}

.search-box-wrapper {
  position: relative;
  display: inline-block;
  i {
    position: absolute;
    color: $dark-brick-col;
    right: 7px;
    top: 30%;
  }
}

.navbar {
  box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.3);
}

.navbar-default .navbar-nav > li > a {
  color: $dark-brick-col;
  text-decoration: none;
  font-weight: bold;
  font-family: Roboto-Black;
  font-size: 1.125em;
  &:hover, &:focus {
    color: $dark-brick-col;
    text-decoration: none;
  }
}

header {
  a.navbar-brand {
    background: url(/static/img/header_big_logo.png) no-repeat left center;
    display: block;
    width: 244px;
    height: 30px;
    overflow: hidden;
    margin-top: 8px;
  }
  .container {
    width: 90%;
  }
}

.navbar-default .navbar-nav > .active > a {
  background-color: $dark-brick-col;
  color: #fff;
  font-weight: bold;
  &:hover, &:focus {
    background-color: $dark-brick-col;
    color: #fff;
    font-weight: bold;
  }
}

#content {
  margin-top: 50px;
}

.no-right-margin {
  margin-right: 0;
}

.no-margin {
  margin: 0;
}

.see-all-stories-wrapper {
  text-align: right;
  margin: 20px 0px;
  padding-right: 10px;
}

.see-all-stories {
  text-transform: uppercase;
  color: $dark-brick-col;
  font-size: 1.125em;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $dark-brick-col;
  }
}

.read-more-wrapper {
  text-align: right;
  margin: 20px 0px;
  padding-right: 10px;
}

.read-more {
  text-transform: uppercase;
  color: $dark-brick-col;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $dark-brick-col;
  }
}

footer {
  background-color: #58585a;
  padding-top: 20px;
  .container {
    width: 90%;
  }
}

.main-body-container {
  width: 90%;
}

footer {
  .logo img {
    padding-top: 10px;
  }
  .list-group-item {
    background: none;
    border: 0px none;
    a {
      text-transform: uppercase;
      color: $lighter-gray-col;
      text-decoration: none;
      font-size: 0.8em;
      &:hover {
        color: $lighter-gray-col;
        text-decoration: none;
      }
    }
  }
}

.right-border-separator {
  border-right: 2px solid $light-gray-col;
  padding-right: 30px;
}

.space-xs {
  height: 10px;
}

.navigator {
  h4 {
    margin-bottom: 30px;
  }
}

#category-list {
  .row {
    margin-right: 0px;
    margin-left: 10px;

  }
  h5 {
    margin: 10px 0px;
  }
  ul li {
    a {
      font-size: 0.8em;
      text-transform: uppercase;
      vertical-align: top;
      color: $dark-brick-col;
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
      color: $dark-brick-col;
    }

  }
}

#tag-cloud {
  div.tag_cloud {
    text-align: justify;
  }
  h5 {
    margin: 10px 0px;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }

    &:nth-child(2n+1) {
      color: $dark-brick-col;
    }
    &:nth-child(2n) {
      color: $dark-gray-col;
    }
    &:nth-child(3n) {
      color: $yellow-col;
    }
  }

  .tag-weight-1 {
    font-size: 0.8em;
  }

  .tag-weight-2 {
    font-size: 1em;
  }

  .tag-weight-3 {
    font-size: 1.2em;
  }

  .tag-weight-4 {
    font-size: 1.3em;
  }
}

a.carousel-control {
  &.left {
    background-image: none;

  }
  &.right {
    background-image: none;
  }
}