@import "variables.css.scss";

@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(//themes.googleusercontent.com/static/fonts/roboto/v10/Hgo13k-tfSpn0qi1SFdUfbO3LdcAZYWl9Si6vvxL-qU.woff) format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url(//themes.googleusercontent.com/static/fonts/roboto/v10/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format("woff");
}

@font-face {
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(//themes.googleusercontent.com/static/fonts/roboto/v10/RxZJdnzeo3R5zSexge8UUbO3LdcAZYWl9Si6vvxL-qU.woff) format("woff");
}

@font-face {
  font-family: 'Roboto-Black';
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url(//themes.googleusercontent.com/static/fonts/roboto/v10/mnpfi9pxYH-Go5UiibESIrO3LdcAZYWl9Si6vvxL-qU.woff) format("woff");
}

html,body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#footer {
	width:100%;
	position:absolute;
	top:100%;
	left:0;
}
blockquote{
  border-left: none;
}
body {
  font-family: $roboto;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  color: $dark-brick-col;
  text-shadow: none;
  opacity: 1;
  font-family: $roboto-black;
}

a {
  text-decoration: none;
  color: $dark-brick-col;

}

.menu-arrow-after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent transparent $white transparent;
  border-style: solid;
  border-width: 10px;
  top: 80%;
  left: 50%;
  margin-left: -10px;
}

.search-box-wrapper {
  position: relative;
  display: inline-block;
  i {
    position: absolute;
    color: $dark-brick-col;
    right: 7px;
    top: 30%;
  }
}
.social-media-bar{
  position: absolute;
  top: 20px;
  right: 15px;
  .social-media{
    float: left;
    padding: 5px;
  }
}.search-and-social-bar{
  border-radius: 18px;
  font-family: AvenirNext-Regular;
  font-size: 14px;
  color: #9B9B9B;
  line-height: 19px;
 }

.navbar-default .navbar-nav > li > a {
  color: $dark-brick-col;
  text-decoration: none;
  font-weight: bold;
  font-family: $roboto-black;
  font-size: 1.125em;
  &:hover, &:focus {
    color: $dark-brick-col;
    text-decoration: none;
  }
}

.navbar-default {
  background-color: #ffffff;
}

header {
  position: relative;

  &.navbar-fixed-top {
    border: 0px;
  }
  a.navbar-brand {
    background: url(/static/img/header_big_logo.png) no-repeat left center;
    display: block;
    width: 309px;
    height: 35px;
    overflow: hidden;
    margin-top: 8px;
  }
  .container {
    width: 95%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.navbar-default .navbar-nav > .active > a {
  background-color: $dark-brick-col;
  color: #fff;
  font-weight: bold;
  &:hover, &:focus {
    background-color: $dark-brick-col;
    color: #fff;
    font-weight: bold;
  }
}

#content {
  margin-top: 50px;
}

.no-right-margin {
  margin-right: 0;
}

.no-margin {
  margin: 0;
}

.see-all-stories-wrapper {
  text-align: right;
  margin: 20px 0px;
  padding-right: 10px;
}

.see-all-stories {
  text-transform: uppercase;
  color: $dark-brick-col;
  font-size: 1.125em;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $dark-brick-col;
  }
  &.top {
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    text-align: right;
    margin-right: 10px;
    float: right;
  }
}

.read-more-wrapper {
  text-align: right;
  margin: 0px 0px 25px 0px;
  padding-right: 10px;
}

.read-more {
  text-transform: uppercase;
  color: $dark-brick-col;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $dark-brick-col;
  }
}

footer {
  background-color: #58585a;
  padding-top: 20px;
  .container {
    width: 95%;
    background-color: #58585a;
  }
}

.main-body-container {
  width: 95%;
}

footer {
  .logo img {
    padding-top: 10px;
  }
  .list-group-item {
    background: none;
    border: 0px none;
    padding: 6px 10px;
    a {
      text-transform: uppercase;
      color: $lighter-gray-col;
      text-decoration: none;
      font-size: 0.8em;
      &:hover {
        color: $lighter-gray-col;
        text-decoration: none;
      }
    }
  }
}

.right-border-separator {
  .fill-image {
    padding: 8px 0px 10px 0px;
    background-size: cover;
    background-repeat: none;
    background-position: center center;
    width: 100%;
    height: 500px;
  }
  h2 {
    font-family: $roboto-black;
    color: $black;
  }
}

.left-border-separator {
  border-left: 2px solid $light-gray-col;
  padding-left: 30px;
}

.space-xs {
  height: 10px;
}

.category-list-wrapper {
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
  h5 {
    margin: 10px 0px;
  }
  ul li {
    list-style-position: inside;
    padding-bottom: 4px;
    a {
      font-size: 0.8em;
      text-transform: uppercase;
      vertical-align: top;
      color: $dark-brick-col;
      text-decoration: none;
      position: relative;
      top: 5px;
    }
    a:hover {
      text-decoration: none;
      color: $dark-brick-col;
    }

  }
}

.tag-cloud-wrapper {
  div.tag_cloud {
    text-align: center;
    padding-bottom: 20px;
  }
  h5 {
    margin: 10px 0px;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  .tag-weight-1 {
    font-size: 0.8em;
    color: $dark-gray-col;
  }

  .tag-weight-2 {
    font-size: 1em;
    color: $yellow-col;
  }

  .tag-weight-3 {
    font-size: 1.2em;
    color: $light-brick-color;
  }

  .tag-weight-4 {
    font-size: 1.3em;
    color: $dark-brick-col;
  }
}

a.carousel-control {
  &.left {
    background-image: none;

  }
  &.right {
    background-image: none;
  }
}

.download-social-bar {
  margin: 5px 0px;
  padding: 5px;
  background-color: $light-gray-col;
  .btn {
    border: 0px none;
    color: $dark-brick-col;
    background: none;
  }
  .dont-style-me {
    &.btn {
      font-size: 0.8em;
      cursor: default;
      &:active {
        border: 0px none;
        background: none;
      }
      &:hover {
        background: none;
        border: 0px none;

      }
    }
  }
}

.endless_more {
  &:hover {
    text-decoration: none;
  }
  .load-more-bottom-button {
    margin-bottom: 10px;
    button {
      display: inline-block !important;
      border-radius: 0px;
      font-weight: bold;
      color: $dark-brick-col;
      background-color: $light-gray-col;
    }
  }
}

.right-section {
  h4 {
    padding-top: 10px;
    font-family: $roboto-black;
    color: $black;
  }
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.border-bottom-only-wrapper {
  &.default-margin-right-margin {
    margin-right: -15px;
  }
  &.default-margin-left-margin {
    margin-left: -15px;
  }
}

.comments-section {
  .comment-text-wrapper {
    padding-left: 70px;
  }
  .border-bottom-only-wrapper {
    margin-top: 30px;
    margin-right: -10px;
  }
  form {
    padding: 10px 0px;
    .help-text {
      color: $dark-gray-col;
      padding: 5px 0px;
      margin: 0;
    }
    input[type=text], textarea {
      width: 400px;
    }
  }
  .text-body {
    padding-left: 70px;
  }
  h3, h4, h5 {
    text-transform: inherit;
    font-family: $roboto;
  }
  ul {
    padding: 15px;
    background-color: rgba(188, 190, 192, .3);
    border: 3px solid rgba(200, 200, 200, .2);
    &.dont-style {
      padding-left: 0px;
      margin: 0px;
      background-color: transparent;
      border: none;
    }
  }

  ul li > ul {
    margin: 10px 20px;
  }

  .pull-left {
    margin-right: 10px;
    img {
      padding: 14px;
      background-color: $lighter-gray-col;
    }
  }
  .user-name {
    font-size: 1em;
    color: $light-brick-color;
  }
  .timespan {
    font-size: .9em;
  }
  .reply {
    text-decoration: none;
    color: $dark-brick-col;
    &:hover {
      text-decoration: none;
    }
  }
  .control-group {
    textarea, input {
      background-color: $lighter-gray-col;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857;
      color: #555555;
      border: 1px solid #cccccc;
      border-radius: 2px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }
  }

  .new-comment-button {
    cursor: pointer;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  #addNewCommentsFormWrapper {
    display: none;
  }
}

.color-red {
  color: $red;
}

.btn-primary {
  border-radius: 0px;
  &:hover {
    background-color: $dark-brick-col;
    border: 1px solid $light-gray-col;
    color: $white;
  }
  border: 1px solid $light-gray-col;
  color: $white;
  background-color: $dark-brick-col;
}

.form-control {
  border-radius: 0px;
}

.search-query {
  border-radius: 20px;
}

#author-date-category, #story-tags {
  .text {
    color: $dark-gray-col;
  }
  a {
    color: $dark-brick-col;
    text-decoration: none;
    &:hover {
      color: $dark-brick-col;
      text-decoration: none;
    }
  }
}

.navigator {
  h4 {
    background: url("/static/img/navigator.png") no-repeat center left transparent;
    padding-left: 30px;
  }
}

.endless_loading {
  img {
    margin: 10px auto;
    display: block;
  }
}

.img-responsive {
  margin: 0 auto;
}

.error-wrapper {
  text-align: center;
  .top-section {
    h1 {
      font-size: 12em;
    }
    .glyphicon-cog {
      font-size: 10em;
    }
  }
  .bottom-section {
  }
}

.logos-collection {
  margin: 10px 0px;

  img {
    display: block;
    margin: 0 auto;
  }
  .kalpawriksha {
  }
  .bhoomi {

  }
  .shikshantar {
  }
  .dds {
  }
}

.link-but-not-a-link {
  cursor: default;
  &:hover {
    cursor: default;
  }
}

.footer-social-links-top, .footer-social-links-bottom {
  .col-xs-12 {
    text-align: center;
  }
  a {
    display: inline-block;
    margin-right: 10px;
  }
}

.share-media-tag {
  /* Rectangle 26: */
  background: #4A4A4A;
  border-radius: 5px;
  height: 78px;
  width: 100%;
  a {
    padding-top: 10px;
    color: white;
    border-radius: 3px;
    width: 100%;
  }
}

.media-button {
  width: 32%;
  height: 45px;
  float: left;
  margin-left: 1%;
  margin-top: 16px;
  text-align: center;

}

#facebook {
  /* Button Background: */
  background-image: linear-gradient(-180deg, #53A0FD 0%, #2368AE 100%);
  border: 1px solid #979797;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.20), inset 0px 2px 0px 0px #FFFFFF;
  border-radius: 6px;
  /* share on Facebook: */
  font-family: AvenirNext-Bold;
  font-size: 13.68px;
  color: #FFFFFF;
  line-height: 19px;
  text-shadow: 0px 1px 0px #4A4A4A;
}

#twitter {
  /* Button Background: */
  background-image: linear-gradient(-180deg, #53B4FD 0%, #0491E8 100%);
  border: 1px solid #979797;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.20), inset 0px 2px 0px 0px #FFFFFF;
  border-radius: 6px;
  font-family: AvenirNext-Bold;
  font-size: 13.68px;
  color: #FFFFFF;
  line-height: 19px;
  text-shadow: 0px 1px 0px #4A4A4A;
}

#subscribe {
  background-image: linear-gradient(-180deg, #FAD961 0%, #F75B1C 100%);
  border: 1px solid #979797;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.20), inset 0px 2px 0px 0px #FFFFFF;
  border-radius: 6px;
  font-family: AvenirNext-Bold;
  font-size: 13.68px;
  color: #FFFFFF;
  line-height: 19px;
  text-shadow: 0px 1px 0px #4A4A4A;
}

.media-button:hover {
  background-color: #a47e3c;
}

.related-stories-tag {
    height: 70px;
    text-align: center;
    .read-more-stories{
      font-family: AvenirNext-Bold;
      font-size: 20px;
      color: #F5A623;
      line-height: 27px;
      padding-top: 20px;
    }
    background:url('/static/img/related_stories_tag.png') no-repeat;
    background-size:contain;
    width: 100%;
  }
.popover {
  max-width: 325px;
  left: 50px !important;
  margin-top: 70px !important;
}

/* Overlay style */
.overlay {
    z-index: 100;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
	position: fixed;
	width: 100%;
	height: 100%!important;
	top: 0;
	left: 0;
    overflow-y: auto;
    overflow-x: hidden;
	background: rgba(255,255,255,0.97);
}

/* Overlay closing cross */
.overlay .overlay-close {
  float: right;
  color: #ffffff;
  background-color: #fc9d1c;
  background-size: 100%;
  background-position: 0 0;
  text-shadow: 0 -1px 0 #ff7a26;
  position: relative;
  z-index: 1;
  border-radius: 4px;
}
.overlay .overlay-menu{
  background: #fc9d1c;
  padding: 15px;
  position: relative;
  z-index: 2;
    width: 100%;
  overflow-x: hidden;
}

.overlay .overlay-content{
  position: relative;
  z-index: 1;
  padding: 30px;
  width: 100%;
  overflow-x: hidden;
}
/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.overlay .menu-item {
	font-size: 24px;
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
    background: none;
    display: block;
    font-size: 1.6em;
    line-height: 1.125em;
}
.overlay .category{
    font-size: 24px;
	font-weight: 300;
	display: block;
	color: #444444;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
    background: none;
    display: block;
    font-size: 1.6em;
    line-height: 1.125em;
    margin-bottom: 15px;
}
.overlay ul li a:hover,
.overlay ul li a:focus {
	color: lightslategray;
}


/* Effects */
.overlay-slidedown {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
	transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}