@media (max-width: 399px) {
  .top-carousel-wrapper {
    .carousel-indicators {
      bottom: -5px;
    }
    .no-right-margin {
      margin-right: 0px;
    }
    .fill-image {
      height: 220px;
    }
    .verticle-border {
      display: none;
    }
    .col-xs-12 {
      padding: 0px;
    }
    .carousel-caption-bottom {
      padding: 10px 10px 30px 40px;
      background: $light-gray-col;
    }
    .featured-list {
      padding: 10px 5px 10px 30px;
      .row {
        margin: 0;
      }
    }
  }
  .featured-list {
    h4 {
      font-size: 0.725em;
    }
    p {
      font-size: 0.7em;
    }
  }
  .category-section {
    .category {
      border-right: 0px none;
      margin-bottom: 10px;
    }
    .container .col-xs-6 {
      width: 100%;
    }
  }
}

@media (min-width: 400px) and (max-width: 439px) {
  .top-carousel-wrapper {
    .carousel-indicators {
      bottom: -5px;
    }

    .no-right-margin {
      margin-right: 0px;
    }
    .fill-image {
      height: 180px;
    }
    .verticle-border {
      display: none;
    }
    .col-xs-12 {
      padding: 0px;
    }
    .carousel-caption-bottom {
      background: $light-gray-col;
      padding: 10px 10px 30px 40px;
    }
    .featured-list {
      padding: 10px 5px 10px 30px;
      .row {
        margin: 0;
      }
    }
  }
  #content {
    margin-top: 120px;
  }
  .featured-list {
    h4 {
      font-size: 0.725em;
    }
    p {
      font-size: 0.7em;
    }
  }
  .category-section {
    .category {
      border-right: 10px solid $light-gray-col;
      padding: 3% 8% 0% 10%;
      margin-top: 3%;
    }
    .container {
      padding: 0px 5px;
    }
    .top-sub-section h4 {
      font-size: 1em;
    }
    .plain-text-sub-section p {
      font-size: 0.8em;
    }
    .container .col-xs-6 {
      width: 100%;
    }
    .fill-image {
      height: 180px;
    }
  }
}

@media (min-width: 440px) and (max-width: 767px) {
  .top-carousel-wrapper {
    .carousel-indicators {
      bottom: -5px;
    }

    .no-right-margin {
      margin-right: 0px;
    }
    .fill-image {
      height: 250px;
    }
    .verticle-border {
      display: none;
    }
    .col-xs-12 {
      padding: 0px;
    }
    .carousel-caption-bottom {
      background: $light-gray-col;
      padding: 10px 10px 30px 40px;
    }
    .featured-list {
      padding: 10px 5px 10px 30px;
      .row {
        margin: 0;
      }
    }
  }
  .featured-list {
    h4 {
      font-size: 0.725em;
    }
    p {
      font-size: 0.7em;
    }
  }

  .category-section {
    .category {
      border-right: 10px solid $light-gray-col;
      padding: 3% 2% 0% 4%;
      margin-top: 1%;
    }
    .container {
      padding: 0px 5px;
    }
    .top-sub-section h4 {
      font-size: 1em;
    }
    .plain-text-sub-section p {
      font-size: 0.8em;
    }
    .container .col-xs-6 {
      width: 50%;
    }
    .fill-image {
      height: 180px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .top-carousel-wrapper {
    .fill-image {
      width: 69%;
      height: 300px;
      margin-left: 0px;
    }
    .verticle-border {
      display: none;
    }
    .col-xs-12 {
      padding: 0px;
    }

    .featured-list {
      padding: 10px 5px 10px 30px;
      .row {
        margin: 0;
      }
    }
    .carousel-caption, .carousel-caption-bottom {
      left: 69%;
      text-align: left;
      padding: 85px 0px 67px 10px;
      background-color: rgba(255, 255, 255, 0.8);
      width: 31%;
      text-shadow: none;
      bottom: 10px;
      top: 0px;
    }

  }
  .category-section {
    .top-sub-section h4 {
      font-size: 1em;
    }
    .plain-text-sub-section p {
      font-size: 0.8em;
    }
    .container {
      width: 99%;
    }
    .category {
      border-right: 10px solid $light-gray-col;
      margin-top: 3%;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .top-carousel-wrapper {
    .fill-image {
      height: 400px;
    }
    .verticle-border {
      height: 480px;

    }
  }
  .container {
    width: 95%;
  }
  .category {
    border-right: 10px solid $light-gray-col;
    margin-top: 1%;
  }
}

@media (min-width: 1200px) {
  .category-section .container, .about_section .container {
    width: 95%;
  }
  .category {
    border-right: 10px solid $light-gray-col;
    margin-top: 1%;
  }
}
