@media (max-width: 480px) {
  #content {
    margin-top: 105px;
  }
  .promoted-article-container {
    height: 331px;
    .promoted-article {
      .thumbnail>img, .thumbnail a>img {
        height: 110px;
        width: 100%;
        margin-bottom: 0px;
      }
      .thumbnail {
        margin-bottom: 15px;
      }
    }
    .promoted-article-caption, .promoted-article-caption-bottom {
      position: relative;
      text-align: left;
      background-color: rgba(255, 255, 255, 255);
      width: 50%;
      height: auto;
      bottom: 0;
      left: 0%;
      padding: 0px 0px 0px 7px;
      top: 0px;
    }
    .promoted-article-caption .promoted-article-title, .promoted-article-caption-bottom .promoted-article-title {
      font-size: 1.1em;
      line-height: 1.4;
      font-weight: 500;
      text-transform: capitalize;
    }
  }

}

@media (min-width: 481px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1023px) {
  .promoted-article-container {
    height: 350px;
  }
  .promoted-article {
    padding-left: 5px;
    padding-right: 5px;
    .thumbnail>img, .thumbnail a>img {
      height: 260px;
      width: 100%;
      margin-bottom: 0px;
    }
  }
}

@media (min-width: 1024px) {
  .navbar .navbar-default .navbar-fixed-top, .navbar-default, #body, .container, .promoted-article-container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
  .promoted-article-container {
    height: 340px;
  }
  .promoted-article {

    .thumbnail>img, .thumbnail a>img {
      height: 260px;
      width: 100%;
      margin-bottom: 0px;
    }
  }
}
