@media (max-width: 399px) {
    header ul.navbar-nav.nav form{
        padding: 10px 15px;
        margin: 0;
        border:0px;
    }
    header a.navbar-brand {
        background: url(/static/img/header_small_logo.png) no-repeat left center;
        width: 63px;
        height: 30px;
    }

}
@media (min-width:400px) and (max-width: 767px) {
    header ul.navbar-nav.nav {
        float: none !important;
    }
    header ul.navbar-nav.nav form{
      padding: 10px 15px;
      margin: 0;
      border:0px;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        border:0px none;
    }
    header a.navbar-brand {
        background: url(/static/img/header_small_logo.png) no-repeat left center;
        width: 63px;
        height: 30px;
    }

}
@media (min-width:768px) and (max-width: 991px) {
    .navbar-default .navbar-nav > li > a{
        font-size:.7em;
    }
    header .container{
        margin:0px auto;
        width: 95%;
    }

    .navbar-default .navbar-form{
        padding: 0;
    }
    header a.navbar-brand {
        background: url(/static/img/header_small_logo.png) no-repeat left center;
        width: 63px;
        height: 30px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    header a.navbar-brand {
        background: url(/static/img/header_small_logo.png) no-repeat left center;
        width: 63px;
        height: 30px;
    }

}
@media (min-width: 1200px) {

}
