@media (max-width: 399px) {

}
@media (min-width:400px) and (max-width: 767px) {
    header ul.navbar-nav.nav {
        float: none !important;
    }
    header ul.navbar-nav.nav form{
      padding: 10px 15px;
      margin: 0;
      border:0px;
    }
}
@media (min-width:768px) and (max-width: 991px) {
    .navbar-default .navbar-nav>li>a{
        font-size:
    }

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 1200px) {

}
