{% extends "pages/section/section_color.html" %}
{% block section_content %}
<div class="col-lg-12 col-md-12 col-sm-12">
    <h2>About Us</h2>

    <p><b>KALPAVRIKSH</b> is a non profit organisation working on environmental and social issues. The
        group
        began in 1979 with a campaign led by students to save Delhi's Ridge Forest. We work on local,
        national and global levels, are registered under the Societies Registration Act (S-17439) and
        are
        based in Delhi and Pune.</p>

    <p>
        Kalpavriksh believes that a country can develop meaningfully only when ecological sustainability
        and
        social equity are guaranteed, and a sense of respect for, and oneness with nature, and fellow
        humans
        is achieved.
        Kalpavriksh is a name taken from Indian mythology and denotes a mythical tree which could grant
        all
        your wishes. 'Kalpa' in Sanskrit means imagination and 'vriksh' is a tree. Thus, the name stands
        for
        'a tree of imagination'.</p>

    <p>
        There are a few Indian trees like Peepul (Sacred Fig) and Bargad (Banyan) which are supposed to
        emb
        ody the giving nature of Kalpavriksh. But, as with all mythologies the name was more a symbol of
        the
        nurturing qualities of nature itself. Philosophically, the wish granting aspect of 'Kalpavriksh'
        is
        supposed to be accompanied by the power to make that wish come true. Thus, Kalpavriksh is
        symbolic
        of a more proactive process than just asking for a wish: you could actually make it happen if
        you so
        desired.</p>

    <p>Thus, it was an important reason to select the name for the environmental group- Kalpavriksh. The
        group, Kalpavriksh, thus, is not a mere figment of imagination. Instead, it's a wish the members
        granted for themselves, a wish for a saner environment for our country and the world, and work
        towards attaining it.
    </p>

    <p><a href="#" class="btn btn-primary btn-large">Read More</a></p>
    <div class="push60"></div>
</div>
{% endblock %}