{% extends "pages/section/section_base.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags extra_tags static %}

{% block section_class %}about_section{% endblock %}

{% block section_heading %}
    <h2>{% trans "ABOUT VIKALP SANGAM" %}</h2>
{% endblock %}

{% block section_content %}
    <p>
    this is text of the content this is text of the contentthis is text of the contentthis is text of the contentthis is text of the contentthis is text of the contentthis is text of the contentthis is text of the content</p>

    <p>this is text of the contentthis is text of the contentthis is text of the contentthis is text of the contentthis is text of the contentthis is text of the contentthis is text of the contentthis is text of the content</p>

    <p>this is text of the contentthis is text of the contentthis is text of the contentthis is text of the contentthis is text of the contentthis is text of the contentthis is text of the contentthis is text of the contentthis is text of the contentthis is text of the content
    </p>

{% endblock %}
