{% extends "pages/section/section_base.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags extra_tags static %}

{% block section_class %}about_section{% endblock %}

{% block section_heading %}
    <h2>{% trans "ABOUT VIKALP SANGAM" %}</h2>
{% endblock %}

{% block section_content %}
    {{ about_page_description|linebreaks }}..
    <a class="read-more"  style="text-transform: none;" href="/about">{% trans "Read More" %}</a>
    <div class="read-more-wrapper">

    </div>

{% endblock %}
