{% extends "pages/section/section_base.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags extra_tags static staticfiles %}

{% block section_class %}category-section{% endblock %}

{% block section_content %}
<div class="row category-page-category-list-wrapper">
    {% for article, category in latest_articles.items reversed %}
    <div class="col-xs-6 col-sm-4 category">
        <a class="category-link-wrapper" href="{{ article.get_absolute_url }}">
            <div class="row image-sub-section" style="margin-top: 3%">
                {%if article.featured_image %}
                    {% if article.featured_image|file_exists %}
                        <img class="img-responsive col-xs-12"
                         src="{{ MEDIA_URL }}{% thumbnail article.featured_image 327 218 %}"/>
                    {% else %}
                        <img class="img-responsive col-xs-12"
                        src="{{ STATIC_URL }}{% thumbnail 'img/default.png' 327 218 %}"/>
                    {% endif %}
                {% else %}
                    <img class="img-responsive col-xs-12"
                         src="{{ STATIC_URL }}{% thumbnail 'img/default.png' 327 218 %}"/>
                {% endif %}
            </div>
        </a>

        <div class="row plain-text-sub-section ">
            <div class="col-xs-12">
                <h5>{{article.publish_date|date:"d/M/Y"}}</h5>
                <h4><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h4>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

