{% extends "pages/section/section_base.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags extra_tags static %}


{% block section_content %}
    <div class="col-md-12 text-center">
        <h2>{% trans "Categories" %}</h2>
        <br>
    </div>

    {% article_categories vikalp.article as categories %}

    {% for category in categories %}
        {#        <div class="col-lg-3 col-md-4 col-sm-6">#}
        <a id="categories-icons" class="col-lg-2 col-md-3 col-sm-4" style="width: 200px; height: 200px"
           href="{% url "blog_post_list_category" category.slug %}">
            <img class="img-responsive"
                 src="{% get_media_prefix %}{{ category.category_image }}" width="130" height="130">
            <h5>{{ category }}</h5></a>
        {#        </div>#}
    {% endfor %}

{% endblock %}
