{% extends "pages/section/section_base.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags extra_tags static %}


{% block section_class %}category-section{% endblock %}

{% block section_heading %}
    <h2>{% trans "STORIES BY CATEGORY" %}</h2>
{% endblock %}

{% block section_content %}
    <div class="category-page-category-list-wrapper">
    {% for article, category in latest_articles.items %}
        <div class="col-xs-6 col-sm-3 category">
            <div class="row top-sub-section">
                <div class="col-xs-3">
                    <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail category.category_image 77 72 %}"/>
                </div>
                <div class="col-xs-9">
                    <h4><a class="see-all-stories" href="{{ category.get_absolute_url }}">{{ category }}</a></h4>
                </div>
            </div>
            <div class="row image-sub-section">
                <div class="col-xs-12">
                    {% if article.featured_image %}
                        <img class="img-responsive"
                             src="{{ MEDIA_URL }}{% thumbnail article.featured_image 450 300 %}"/>
                    {% else %}
                        <img class="img-responsive"
                             src="{{ STATIC_URL }}{% thumbnail 'img/default.png' 450 300 %}"/>
                    {% endif %}
                </div>
            </div>
            <div class="row plain-text-sub-section">
                <p class="col-xs-12">
                    <a class="see-all-stories" href="{{ article.get_absolute_url }}">{{ article.title }}</a></h4>
                </p>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="col-xs-12 see-all-stories-wrapper">
        <a class="see-all-stories" href="/article">SEE ALL STORIES</a>
    </div>
{% endblock %}
