<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div class="inner">

    <h1>Contact Us</h1>

    <div id="contact-wrapper">
        <div class="leftcol">
            <h2><b>Office name :</b></h2>

            <p> Office slot, Building Name<br>
                Street Name,<br>
                Society/Area Name,<br>
                City Name Pin Code, State<br>
                Country</p>

            <p>
                <b>Phone No:</b> (Int code)(State code)(Number)<br>
                <b>Email:</b> email@address.com<br>
            </p>
        </div>
        <div class="rightcol">

        </div>
    </div>
</div></p>
</body>
</html>