{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags staticfiles pages_tags %}


<h1>{% trans "Featured" %}</h1>

<div class="item-container">
    {% for article in promoted_articles %}
        {% if forloop.counter <= 3 %}
            <div class="container">
                <div class="front">
                    {% if settings.BLOG_USE_FEATURED_IMAGE and article.featured_image %}
                        <img src="{{ MEDIA_URL }}{% thumbnail article.featured_image  250 0%}">
                    {% endif %}
                    <h3>{{ article.title }}</h3>
                </div>
                <div class="back">
                    <p>{{ article.description }}</p>
                    <a class="read-article" href="{{ article.get_absolute_url }}">Read Article</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

