{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags extra_tags %}


<div id="category-list" class="category-list-wrapper">
    <h5>{% trans "Story Categories" %}</h5>
    {% article_categories vikalp.article as categories %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-12 no-padding">
            <ul class="list-unstyled">
                {% for category in categories %}
                        <li style="list-style-image:url({{ MEDIA_URL }}{% thumbnail category.category_image 30 30 %})"><a href="{% url "article_list_category" category.slug %}">{% with category.title as category_title %}{% trans category_title %}{% endwith %}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
