{% load i18n %}


<h5>{% trans "Events" %}</h5>

<div id="events-in-sidebar" style="padding-bottom: 10px">
    <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=450&amp;wkst=2&amp;hl=en_GB&amp;bgcolor=%23ffffff&amp;src=alternativesforum%40gmail.com&amp;color=%232952A3&amp;src=en.indian%23holiday%40group.v.calendar.google.com&amp;color=%23711616&amp;ctz=Asia%2FCalcutta"
            style=" border-width:0 " width="285" height="450" frameborder="0" scrolling="no"></iframe>
</div>
