{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags %}


{% if article.related_posts.all %}
        <div id="related-stories-header">
    <h4>{%trans "Related stories" %}</h4>

            </div>
<div class="border-bottom-only"></div>
<div class="space-xs"></div>
<div class="row featured-list">
    {% for article in article.related_posts.all %}
    {% if settings.BLOG_USE_FEATURED_IMAGE %}
    <div class="col-xs-6 col-lg-12 category">
        <a class="category-link-wrapper" href="{{ article.get_absolute_url }}">
            <div class="row image-sub-section">
                <img class="col-xs-12"
                     src="{{ MEDIA_URL }}{% thumbnail article.featured_image 300 175 %}" onerror="imgError(this, 300, 175)"/>
            </div>
            <h4 id="featured-article" class="media-heading">{{ article.title }}</h4>
        </a>
        <div class="border-bottom-only"></div>
    </div>
    {%endif %}
    {% endfor %}
</div>
{% endif %}
