{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags %}


{% if article.related_posts.all %}

    <div class="featured-list in-sidebar">

        <h5>{% trans "Related Content" %}</h5>

        <ul class="list-unstyled">

            {% for post in article.related_posts.all %}
                <li class="row">
                    <div class="col-xs-4">
                        {% if settings.BLOG_USE_FEATURED_IMAGE and post.featured_image %}
                            <img class="img-responsive"
                                 src="{{ MEDIA_URL }}{% thumbnail post.featured_image 300 230 %}">
                        {% else %}
                            <img class="img-responsive" src="{{ STATIC_URL }}{% thumbnail 'default.png' 300 230 %}">
                        {% endif %}
                    </div>
                    <div class="col-xs-8">
                        <a href="{{ post.get_absolute_url }}"><h4 id="featured-article"
                                                                  class="media-heading">{{ post.title }}</h4>
                        </a>
                    </div>
                </li>

            {% endfor %}
        </ul>

    </div>

{% endif %}
