{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags %}


{% if article.related_posts.all %}
        <div class="related-stories-header">
             Related stories
        </div>
<div class="space-xs"></div>
<div class="featured-list">
    {% for article in article.related_posts.all %}
    {% if settings.BLOG_USE_FEATURED_IMAGE %}
    <div class="category-topping-wrapper">
        <a class="category-link-wrapper" href="{{ article.get_absolute_url }}">
            <img src="{{ MEDIA_URL }}{% thumbnail article.featured_image 230 128 %}" onerror="imgError(this, 230, 128)"/>
            <div class="space-xs"></div>
            <div id="related-article">{{ article.title }}</div>
        </a>
    </div>
    <div class="space-xs"></div>
    <div class="space-xs"></div>


    {%endif %}
    {% endfor %}
</div>
{% endif %}
