<div class="push50">
    <div class="well">
        <h4>Share this story</h4>
        <div class="share-btn">
            {% include "includes/sidebar/social_media/facebook.html" %}
        </div>
        <div class="share-btn">
            {% include "includes/sidebar/social_media/twitter.html" %}
        </div>
        <div class="share-btn">
            {% include "includes/sidebar/social_media/google_plus.html" %}
        </div>
        <div class="share-btn">
            {% include "includes/sidebar/social_media/linkedin.html" %}
        </div>
        <div class="share-btn">
            {% include "includes/sidebar/social_media/pinterest.html" %}
        </div>
        <div class="share-btn">
            {% include "includes/sidebar/social_media/tumblr.html" %}
        </div>
        <div class="share-btn">
            {% include "includes/sidebar/social_media/stumbleupon.html" %}
        </div>
    </div>
</div>