{% load staticfiles %}


<div id="social-media-sharing" class="well">

    <h4>Share this Story</h4>

    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_facebook"><img src="{% static "img/social_media_icons/facebook.png" %}"/></a>
        <a class="addthis_button_twitter"><img src="{% static "img/social_media_icons/twitterbird.png" %}"/></a>
        <a class="addthis_button_google_plusone_share"><img src="{% static "img/social_media_icons/googleplus.png" %}"/></a>
        <a class="addthis_button_email"><img src="{% static "img/social_media_icons/mail.png" %}"/></a>
        <a class="addthis_button_linkedin"><img src="{% static "img/social_media_icons/linkedin.png" %}"/></a>
        <a class="addthis_button_pinterest_share"><img src="{% static "img/social_media_icons/pinterest.png" %}"/></a>
        <a class="addthis_button_tumblr"><img src="{% static "img/social_media_icons/tumblr.png" %}"/></a>
        <a class="addthis_button_stumbleupon"><img src="{% static "img/social_media_icons/stumbleupon.png" %}"/></a>
    </div>

</div>

<script type="text/javascript">var addthis_config = {"data_track_addressbar": true};</script>
<script type="text/javascript" src="{% static "js/addthis_widget.js" %}"></script>
