{% load staticfiles %}


<div class="btn-group btn-group-xs pull-left">
    <span  type="button" class="btn btn-default dont-style-me">SHARE</span>
    <a type="button" class="btn btn-default addthis_button_facebook">
        <img src="{% static "img/social_media_icons/facebook.png" %}" width="20" height="20"/></a>
    <a type="button" class="btn btn-default addthis_button_twitter"><img
            src="{% static "img/social_media_icons/twitterbird.png" %}" width="20" height="20"/></a>
    <a type="button" class="btn btn-default addthis_button_google_plusone_share"><img
            src="{% static "img/social_media_icons/googleplus.png" %}" width="20" height="20"/></a>
    <a type="button" class="btn btn-default addthis_button_email"><img
            src="{% static "img/social_media_icons/mail.png" %}" width="20" height="20"/></a>
    <a type="button" class="btn btn-default addthis_button_linkedin"><img
            src="{% static "img/social_media_icons/linkedin.png" %}" width="20" height="20"/></a>
    <a type="button" class="btn btn-default addthis_button_pinterest_share"><img
            src="{% static "img/social_media_icons/pinterest.png" %}" width="20" height="20"/></a>
    <a type="button" class="btn btn-default addthis_button_tumblr"><img
            src="{% static "img/social_media_icons/tumblr.png" %}" width="20" height="20"/></a>
    <a type="button" class="btn btn-default addthis_button_stumbleupon"><img
            src="{% static "img/social_media_icons/stumbleupon.png" %}" width="20" height="20"/></a>
</div>

<script type="text/javascript">var addthis_config = {"data_track_addressbar": true};</script>
<script type="text/javascript" src="{% static "js/addthis_widget.js" %}"></script>
