{% load i18n mezzanine_tags comment_tags %}


<div id="comments">

    <h3>{% trans "Comments" %}</h3>

    <style>.input_id_honeypot {
        display: none !important;
    }</style>

    {% comment_thread object_for_comments %}
    <div class="row border-bottom-only-wrapper">
        <div class="col-xs-12">
            <div class="border-bottom-only"></div>
        </div>
    </div>
    <a class="new-comment-button" id="addNewCommentBtn">
        <h3>{% trans "Add New Comment" %}</h3>
    </a>
    <div id="addNewCommentsFormWrapper">
        <div class="help-block">
            <span>Fields marked with <span class="color-red">*</span> are mandatory</span>
        </div>

        <form method="post" id="comment" action="{{ comment_url }}#comment">

            {% if not request.POST.replied_to %}
                {% fields_for posted_comment_form %}
            {% else %}
                {% fields_for unposted_comment_form %}
            {% endif %}

            <div class="form-actions">
                <input class="btn btn-primary btn-large" type="submit" value="{% trans "Post" %}">
            </div>

        </form>
    </div>

</div>

<script>
    $(function () {
        $('.reply').click(function () {
            $('.reply-form').hide();
            $(this).next('.reply-form').toggle();
        });
    });
</script>
