{% load i18n mezzanine_tags comment_tags rating_tags %}

{% if comments_for_thread %}
<ul class="list-unstyled">
    {% for comment in comments_for_thread %}

        <li id="comment-{{ comment.id }}"
            {% if comment.by_author %}class="comment-author"{% endif %}>
            {% editable comment.is_public comment.is_removed %}
                {% if not comment.is_removed and comment.is_public %}

                    <div class="pull-left">
                        {% if comment.url %}
                            <a href="{{ comment.url }}">
                                <img src="{% gravatar_url comment.email %}">
                            </a>
                        {% else %}
                            <img src="{% gravatar_url comment.email %}">
                        {% endif %}
                    </div>
                    <div>
                        <div>
                            <span class="user-name">{{ comment.user_name }}</span>
                            <span class="timespan">{% blocktrans with sometime=comment.submit_date|timesince %}{{ sometime }}
                            ago{% endblocktrans %}</span>
                        </div>
                        <div>{{ comment.comment|comment_filter }}</div>
                        <div>
                            <a href="#reply-{{ comment.id }}" class="reply">{% trans "Reply" %}</a>
                            <form class="reply-form" method="post" id="reply-{{ comment.id }}"
                                  action="{{ comment_url }}#reply-{{ comment.id }}"
                                  {% if replied_to != comment.id %}style="display:none;"{% endif %}>
                                {% if replied_to == comment.id %}
                                    {% fields_for posted_comment_form %}
                                {% else %}
                                    {% fields_for unposted_comment_form %}
                                {% endif %}
                                <input type="hidden" name="replied_to" value="{{ comment.id }}">
                                <input class="btn btn-primary btn-large" type="submit" value="{% trans "Reply" %}">
                            </form>
                        </div>
                    </div>

                {% else %}

                    {% if request.user.is_staff %}
                        <div class="pull-left">
                            {% if comment.url %}
                                <a href="{{ comment.url }}">
                                    <img src="{% gravatar_url comment.email %}">
                                </a>
                            {% else %}
                                <img src="{% gravatar_url comment.email %}">
                            {% endif %}
                        </div>
                        <div>
                            <span class="user-name">{{ comment.user_name }}</span>
                            <span class="timespan">{% blocktrans with sometime=comment.submit_date|timesince %}
                            {{ sometime }} ago{% endblocktrans %}</span>
                        </div>
                        <div>{{ comment.comment|comment_filter }}</div>
                    {% endif %}

                    <div>
                        {% if comment.is_removed %}
                            {% trans "Comment deleted" %}
                        {% else %}
                            {% trans "Comment awaiting approval" %}
                        {% endif %}
                        <span class="timespan">{% blocktrans with sometime=comment.submit_date|timesince %}
                            {{ sometime }} ago{% endblocktrans %}</span>
                    </div>

                {% endif %}
            {% endeditable %}
            {% if settings.COMMENTS_USE_RATINGS %}
                {% rating_for comment %}
            {% endif %}
            {% comment_thread comment %}
        </li>
    {% endfor %}
    {% if no_comments %}
        <li>{% trans "There are no comments yet on this Story." %}</li>
    {% endif %}
</ul>
{% endif %}
