{% extends "base.html" %}

{% load i18n %}

{% block meta_title %}
    {% trans "Page Not Found" %}
{% endblock %}

{% block article_main %}
    <div class="error-wrapper">
        <div class="content">
            <div class="top-section">
                <h1>404</h1>
            </div>
            <div class="bottom-section">
                <h4>OOPS! something went wrong!!</h4>

                <p>We could not find what you were looking for. It may have been caused by a bookmark that's
                    out-of-date, a page that doesn't exist anymore, or by mistyping the page address.</p>

                <p>You could try the menu at the top, the navigation in the sidebar, or the search box in the top right
                    corner of the page.</p>

                <a class="btn btn-warning" href="/">
                    <div class="glyphicon glyphicon-home"></div>
                    &nbsp;BACK TO HOMEPAGE</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block side_bar %}

    {% include "includes/sidebar/category_list.html" %}
    {% include "includes/sidebar/tag_cloud.html" %}

{% endblock %}
