{% extends "base.html" %}

{% load i18n %}

{% block meta_title %}
    {% trans "Bad Gateway" %}
{% endblock %}

{% block article_main %}
<div class="error-wrapper">
	<div class="content">
		<div class="top-section">
			<h1>500</h1>
		</div>
		<div class="bottom-section">
			<h4>OOPS! something went wrong</h4>
			<a class="btn btn-warning" href="/"> <div class="glyphicon glyphicon-home"></div> &nbsp;BACK TO HOMEPAGE</a>
		</div>
	</div>
</div>
{% endblock %}

{% block side_bar %}

    {% include "includes/sidebar/category_list.html" %}
    {% include "includes/sidebar/tag_cloud.html" %}

{% endblock %}
