{% extends "base.html" %}

{% load i18n %}

{% block title %}
    {% trans "Error" %}
{% endblock %}

{% block article_main %}
    {#    {% trans "Sorry, an error occurred. Seems like a Bad Gateway!" %}#}
    <img style="height: 100%; width: 100%;" src="{{ STATIC_URL }}{{ 'img/500page.png' }}"/>
{% endblock %}

{% block side_bar %}

    {% include "includes/sidebar/category_list.html" %}
    {% include "includes/sidebar/tag_cloud.html" %}
    {% include "map_for_sidebar.html" %}

{% endblock %}
