{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags staticfiles pages_tags extra_tags static %}
<div class="carousel-container">
    {% for article in carousel_content|slice:":2" %}
    <section class="top-carousel-wrapper">
        <div class="col-md-6 col-xs-12">
            <!-- Wrapper for slides -->
            <div class="item {% ifequal forloop.counter0 0 %} active {% endifequal %}">
                <a class="category-link-wrapper" href="{{ article.get_absolute_url }}">
                    <img class="fill-image"
                         src="{{ MEDIA_URL }}{% thumbnail article.featured_image 327 218 %}" onerror="imgError(this,327, 218)"/>

                    <div class="carousel-caption hidden-xs">
                        <div class="carousel-date">{{ article.publish_date|date:"d/M/Y" }}</div>
                        <h2>{{ article.title }}</h2>
                    </div>
                    <div class="carousel-caption-bottom visible-xs">
                        <div class="carousel-date">{{ article.publish_date|date:"d/M/Y" }}</div>
                        <h2>{{ article.title }}</h2>
                    </div>
                </a>
            </div>
        </div>
    </section>
    {% endfor %}
</div>
