{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags staticfiles pages_tags extra_tags static %}
<div class="promoted-article-container col-lg-12 col-md-12">
    {% for article in carousel_content|slice:":2" %}
    <div class="promoted-article col-lg-6 col-md-6">
        <!-- Wrapper for slides -->
        <div class="item {% ifequal forloop.counter0 0 %} active {% endifequal %}">
            <a class="category-link-wrapper" href="{{ article.get_absolute_url }}">
                <div class="thumbnail">
                    <img src="{{ MEDIA_URL }}{{article.featured_image}}">
                </div>
                <div class="promoted-article-caption hidden-xs">
                    <div class="promoted-article-date">{{ article.publish_date|date:"d/M/Y" }}
                        <h2>{{ article.title }}</h2></div>
                </div>
                <div class="promoted-article-caption promoted-article-caption-bottom visible-xs">
                    <div class="promoted-article-date">
                        <h2>{{ article.title }}</h2>
                        {{ article.publish_date|date:"d/M/Y" }}
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
