<div class="banner">
    <ul>
        <li>
            <div class="description">
                <h1>Heading 1</h1>

                <p>Description goes here...</p>
            </div>

        </li>
        <li>
            <div class="description">
                <h1>Heading 2</h1>

                <p>Description goes here...</p>
            </div>

        </li>
        <li>
            <div class="description">
                <h1>Promoted Content</h1>

                <p>Description goes here...</p>
            </div>
        </li>
    </ul>
    <ol class="dots">

    </ol>
</div>