{% load i18n future pages_tags extra_tags %}


<footer id="footer">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 hidden-md hidden-lg">
                <div class="logos-collection lg ">
                    {% include "includes/footer_logo_lg.html" %}
                </div>
                
            </div>
            <div class="col-md-2 logo hidden-sm hidden-xs">
                <div id="footer-logo">
                    <a href="/"> <img class="img-responsive hidden-md" src="/static/img/footer_big_logo.png"/> </a>
                    <a href="/"> <img class="img-responsive visible-md" src="/static/img/footer_small_logo.png"/> </a>
                </div>
                <div class="logos-collection lg hidden-md">
                    {% include "includes/footer_logo_lg.html" %}
                </div>
                <div class="logos-collection md visible-md">
                    {% include "includes/footer_logo_md.html" %}
                </div>
            </div>


            {% for page in page_branch %}
                {% for in_menu in page.in_menus %}
                    {% ifequal in_menu '3' %}
                        {% ifequal page.parent None %}
                            {% if page.has_children_in_menu %}
                                {% with menu_pages|get:page.id as child_pages %}
                                    {% for child_page in child_pages %}
                                        {% if child_pages|length == 3 or child_pages|length == 2 %}
                                            <div class="col-md-3">
                                        {% else %}
                                            <div class="col-md-2">
                                        {% endif %}

                                    <ul class="list-group"> {% if '3' in child_page.in_menus %}
                                        <li class="list-group-item"><a class="list-group-item-heading"
                                                                       href="{{ child_page.get_absolute_url }}">{{ child_page.title }}</a>
                                        </li> {% endif %}

                                        {% with menu_pages|get:child_page.id as child_child_pages %}
                                            {% for child_child_page in child_child_pages %}
                                                {% if '3' in child_child_page.in_menus %}
                                                    <li class="list-group-item">
                                                        <a class="list-group-item-text"
                                                           href="{{ child_child_page.get_absolute_url }}">{{ child_child_page.title }}</a>
                                                    </li> {% endif %}
                                            {% endfor %}
                                        {% endwith %}

                                    </ul>

                                    </div>

                                    {% endfor %}
                                {% endwith %}
                            {% endif %}

                        {% endifequal %}

                    {% endifequal %}
                {% endfor %}

            {% endfor %}

            </div>
        </div>

</footer>
