{% load i18n future pages_tags mezzanine_tags compress staticfiles %}


<header class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
            </a>
        </div>
        <div class="search-and-social-bar">
            <div>
                {% search_form %}
            </div>
            <div class="social-media-bar hidden-xs">
                <a  href="https://www.facebook.com/pages/Vikalp-Sangam/483165198462325" class="social-media">
                    <img src="/static/img/top_facebook_logo.png"></a>

                <a href="https://twitter.com/VikalpSangam"  class="social-media">
                    <img src="/static/img/top_twitter_logo.png"></a>

                <a href="/feeds"  class="social-media">
                    <img src="/static/img/top_rss_logo.png"></a>
            </div>
        </div>

        <div id="menu" class="collapse overlay">

            <div class="overlay-menu">
                <div>
                    <a class="overlay-close menu-item" href="#">
                        <span id="close-overlay" class="glyphicon glyphicon-remove-circle" data-toggle="collapse" data-target="#menu"></span>
                    </a>

                </div>

                <div class="menu-items">
                    {% for page in page_branch %}
                    {% for in_menu in page.in_menus %}
                    {% ifequal in_menu '1' %}
                    {% ifnotequal page.title "Home" %}
                    <a class="menu-item" {% if page.is_current_or_ascendant %} class="active" {% endif %}{% if page.description|wordcount < 5 %} title="{% trans page.description %}" {% endif %}
                    href="{{ page.get_absolute_url }}">
                    {% with page.title|upper as page_title %}{% trans page_title %}{% endwith %}</a>
                    {% endifnotequal %}
                    {% endifequal %}
                    {% endfor %}
                    {% endfor %}

                    <a class="link-but-not-a-link" href="javascript:void(0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>

                </div>
            </div>
            <div class="overlay-content">
                {% include "pages/categories_list.html" %}
            </div>

        </div>
    </div>

</header>
