{% load mezzanine_tags extra_tags endless %}

<div class="article col-md-4 col-lg-4 col-xs-12 col-sm-4 ">

    <a class="category-link-wrapper" href="{{ article.get_absolute_url }} ">
        <div class="thumbnail col-xs-6 col-sm-12 col-lg-12 col-md-12" style="text-align: center ;">
                {%if article.featured_image %}
                    {% if article.featured_image|file_exists %}
                        <!-- <span style="width:100%;  height: 0; padding: 56.25% 0 0 0; background-image: url({{ MEDIA_URL }}{% thumbnail article.featured_image article_img_width article_img_height %}); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; display: inline-block;"></span> -->
                        <span style="width:100%;  height: 0; padding: 56.25% 0 0 0; background-image: url('{{ MEDIA_URL }} {{article.featured_image}}'); background-size: contain; background-repeat: no-repeat; background-position: 50% 50%; display: inline-block;"></span>
                    {% else %}
                        <span style="width:100%;  height: 0; padding: 56.25% 0 0 0; background-image: url('{{ STATIC_URL }}{% thumbnail 'img/default.png' article_img_width article_img_height %}'); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; display: inline-block;">
                        </span>

                    {% endif %}
                {% else %}
                         <span style="width:100%;  height: 0; padding: 56.25% 0 0 0; background-image: url('{{ STATIC_URL }}{% thumbnail 'img/default.png' article_img_width article_img_height %}'); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; display: inline-block;">
                         </span>
                {% endif %}
        </div>
           <div class="plain-text-sub-section hidden-xs col-xs-6 col-sm-12 col-lg-12 col-md-12">
            <div class="article-date">{{ article.publish_date|date:"d/M/Y" }}</div>
            <div class="article-title">{{ article.title }}</div>
        </div>
        <div class="plain-text-sub-section visible-xs col-xs-6 col-sm-12 col-lg-12 col-md-12">
            <div class="article-title">{{ article.title }}</div>
            <div class="article-date">
                {{ article.publish_date|date:"d/M/Y" }}
            </div>
        </div>
    </a>
</div>