<div class="logos-collection-wrapper">
    <a class="kaplawriksh" style="background-image:url('/static/img/kalpavriksh_md.png')"
       href="http://www.kalpavriksh.org" target="_blank">
    </a>
    <a class="bhumi" style="background-image:url('/static/img/bhoomi_md.jpg')" target="_blank"
       href="http://bhoomimagazine.org">
    </a>
    <a class="shiksha" style="background-image:url('/static/img/shikshantar_md.png')"
       target="_blank" href="http://www.swaraj.org/shikshantar/">
    </a>
    <a class="deccan" style="background-image:url('/static/img/ddslogo_md.jpg')" target="_blank"
       href="http://www.ddsindia.com/">
    </a>
</div>