{% load i18n future mezzanine_tags blog_tags keyword_tags extra_tags endless disqus_tags %}

{% if article.related_posts.all %}
<img class="related-stories-tag" src="/static/img/related_stories_tag.png" />
<div class="row category-page-category-list-wrapper featured-list">
        {% for article in article.related_posts.all %}
        {% if settings.BLOG_USE_FEATURED_IMAGE %}
        <div class="col-xs-6 col-sm-4 related-article">
                <a class="category-link-wrapper" href="{{ article.get_absolute_url }}">
                    <div class="row image-sub-section">
                                <img src="{{ MEDIA_URL }}{% thumbnail article.featured_image 219 175 %}" onerror="imgError(this, 219, 175)"/>
                    </div>
                    <div id="related-article">{{ article.title }}</div>
                </a>
            </div>
        {%endif %}
        {% endfor %}
    </div>

{% endif %}
