{% load mezzanine_tags i18n future %}
<form action="{% url "search" %}" class="navbar-form navbar-search navbar-right">
    <span class="search-box-wrapper">
        <i class="glyphicon glyphicon-search"></i>
        <input class="form-control search-query" placeholder="{% trans "Search for a story" %}" type="text" name="q"
               value="{{ request.REQUEST.q }}">

        {% if search_model_choices %}
            {% if search_model_choices|length == 1 %}
                <input type="hidden" name="type" value="{{ search_model_choices.0.1 }}">
            {% else %}
                <select name="type">
                    <option value="">{% trans "Everything" %}</option>
                    {% for verbose_name, model in search_model_choices %}
                        <option value="{{ model }}"
                                {% if model == request.REQUEST.type %}selected{% endif %}>
                            {{ verbose_name }}
                        </option>
                    {% endfor %}
                </select>
            {% endif %}
        {% endif %}
    </span>
</form>
